terraform.*
.terraform
.terraform.*
*.json
*.pub
*.log
*.zip
tmp/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*secret*

private-key.pem
.idea

#Jupyter Notebook
*.ipynb

*.local